
body{
    font-family: verdana;
         color: black;
         background-color: whitesmoke;
         margin:0;
         font-size: 14x;
 }
 header {
     text-align: center; 
     padding: 20px;
  }
 
  nav {
   background-color: dimgrey;
   box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
   width: 100%;
   list-style: none;
   display: flex;
   align-items: center;
 }
 
 nav a {
   height: 100%;
   padding: 0 30px;
   text-decoration: none;
   display: flex;
   align-items: center;
   justify-content: center; 
   color: black;
 }
 nav a:hover{
   background-color: #f0f0f0;
 }
  
  p{
    text-align: left;
    font-family: Arial;
    
  }
 